@model BullardEncuestas.Core.DTO.EncuestaDTO
@{
    if (Model == null)
    {
        ViewBag.Title = "Encuesta";
    }
    else { ViewBag.Title = ViewBag.EncuestaNombre; }
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section scripts{@Scripts.Render("~/Content/js/Encuesta.js")}
<section class="vbox">
    <section class="scrollable padder">
        <div class="row m-b">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h2>Editar Encuesta</h2>
                @Html.ValidationSummary(true)
                <div class="row m-b">
                    <div class="col-xs-12 col-md-9">
                        @Html.Partial("_showAlertMessages")
                        <section class="panel panel-default">
                            <header class="panel-heading font-bold">
                                @ViewBag.EncuestaPeriodo / @ViewBag.EncuestaNombre
                                <a class="btn btn-sm btn-success pull-right btn-rounded"><i class="fa fa-save"></i>&nbsp;&nbsp;Guardar</a>
                                <a class="btn btn-sm btn-success pull-right btn-rounded"><i class="fa fa-plus"></i>&nbsp;&nbsp;Configuración</a>
                            </header>
                            <div class="panel-body">

                                <div class="dd" id="nestable1">
                                    @if (Model.Secciones.Count > 0)
                                    {
                                        <ol class="dd-list">
                                            @foreach (var seccion in Model.Secciones)
                                            {
                                                <li class="dd-item" data-id="@seccion.IdSeccion">
                                                    <div class="dd-handle">@seccion.Nombre</div>
                                                    <a class='btn-edit btnEditar' href='#'><i class='fa fa-pencil'></i></a>
                                                    @if (seccion.SubSecciones.Count > 0)
                                                    {
                                                        <ol class="dd-list">
                                                            @foreach (var subSeccion in seccion.SubSecciones)
                                                            {
                                                                <li class="dd-item" data-id="@subSeccion.IdSeccion">
                                                                    <div class="dd-handle">@subSeccion.Nombre</div>
                                                                </li>
                                                                <a class='btn-edit btnEditar' href='#'><i class='fa fa-pencil'></i></a>
                                                                if (subSeccion.Preguntas.Count > 0)
                                                                {
                                                                    <ol class="dd-list">
                                                                        @foreach (var pregunta in subSeccion.Preguntas)
                                                                        {
                                                                            <li class="dd-item" data-id="@pregunta.IdPregunta">
                                                                                <div class="dd-handle">@pregunta.Texto</div>
                                                                            </li>
                                                                            <a class='btn-edit btnEditar' href='#'><i class='fa fa-pencil'></i></a>
                                                                        }
                                                                    </ol>
                                                                }
                                                            }
                                                        </ol>
                                                    }
                                                    @if (seccion.Preguntas.Count > 0)
                                                    {
                                                        <ol class="dd-list">
                                                            @foreach (var pregunta in seccion.Preguntas)
                                                            {
                                                                <li class="dd-item" data-id="@pregunta.IdPregunta">
                                                                    <div class="dd-handle">@pregunta.Texto</div>
                                                                </li>
                                                                <a class='btn-edit btnEditar' href='#'><i class='fa fa-pencil'></i></a>
                                                            }
                                                        </ol>
                                                    }
                                                </li>
                                            }
                                        </ol>
                                    }
                                </div>

                                <div class="line line-dashed line-lg pull-in"></div>
                                <div style="align-items:center">
                                    <a class="btn btn-sm btn-danger btn-rounded pull-right" href="/Admin/Index">Salir</a>
                                    &nbsp;
                                    <button type="submit" id="btnGuardar" class="btn btn-sm btn-primary btn-rounded pull-right">Guardar</button>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<div class="modal fade modal-popup" id="modal-form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edición de</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="registro" class="col-sm-12 form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Nombre</label>
                            <div class="col-lg-9">
                                <input type="text" id="nombreTarea" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group edicion">
                            <label class="col-lg-3 control-label">Estado</label>
                            <div class="col-lg-9">
                                <select id="estadoTarea" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="savePersona">Guardar</button>
            </div>
        </div>
    </div>
</div>