@using BullardEncuestas.Core.DTO;
@{
    ViewBag.Title = "GruposTrabajo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model IList<BullardEncuestas.Core.DTO.GrupoTrabajoDTO>
<section class="vbox">
    <section class="scrollable padder">
        <div class="row m-b">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <p style="margin-top:10px;"></p>
                @Html.Partial("_showAlertMessages")
                <h2>Lista de Grupos de Trabajo</h2>
                <section class="panel panel-default">
                    <div class="row text-sm wrapper">
                        <div class="col-sm-12">
                            <a class="btn btn-sm btn-success pull-right btn-rounded" href="@Url.Action("GrupoTrabajo")"><i class="fa fa-plus"></i> Crear nuevo Grupo de Trabajo</a>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped m-b-none">
                            <thead>
                                <tr>
                                    <th width="45%">Nombre</th>
                                    <th width="45%" style="text-align:center;">Estado</th>
                                    <th width="10%">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var grupo in Model)
                                {
                                    var classInactive = (ViewBag.EsAdmin && !grupo.Estado) ? "class='inactive'" : "";
                                    <tr @Html.Raw(classInactive)>
                                        <td>@grupo.Nombre</td>
                                        @{if (grupo.Estado)
                                        {
                                        <td align="center">Activo</td>;
                                        }
                                        else
                                        {
                                        <td align="center">Inactivo</td>;
                                        }}
                                        @if (ViewBag.EsAdmin)
                                        {
                                            <td align="center">
                                                @*<a data-toggle="tooltip" data-original-title="Ver Grupo" href="@Url.Action("GrupoTrabajoDetalle", new { idGrupo = grupo.IdGrupoTrabajo})"><i class="fa fa-eye"></i></a>
                                                    &nbsp;&nbsp;*@
                                                <a data-toggle="tooltip" data-original-title="Editar grupo" href="@Url.Action("GrupoTrabajo", new { id = grupo.IdGrupoTrabajo})"><i class="fa fa-pencil"></i></a>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
        <div class="row m-b">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h2>Lista de Clientes</h2>
                <section class="panel panel-default">
                    <div class="row text-sm wrapper">
                        <div class="col-sm-12">
                            <a class="btn btn-sm btn-success pull-right btn-rounded" href="@Url.Action("Persona")"><i class="fa fa-plus"></i> Crear nuevo Cliente</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped m-b-none">
                            <thead>
                                <tr>
                                    <th width="30%">Nombre</th>
                                    <th width="30%">Email</th>
                                    <th width="20%">Empresa</th>
                                    <th width="10%" style="text-align:center;">Estado</th>
                                    <th width="10%">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (PersonaDTO persona in ViewBag.Clientes)
                                {
                                    var classInactive = (ViewBag.EsAdmin && !persona.Estado) ? "class='inactive'" : "";
                                    <tr>
                                        <td>@persona.Nombre</td>
                                        <td>@persona.Email</td>
                                        @{if (persona.Empresa != null)
                                        {
                                        <td>@persona.Empresa.Nombre</td>;
                                        }
                                        else
                                        {
                                        <td>No asignado</td>;
                                        }}
                                        @{if (persona.Estado)
                                        {
                                        <td align="center">Activo</td>;
                                        }
                                        else
                                        {
                                        <td align="center">Inactivo</td>;
                                        }}
                                        @if (ViewBag.EsAdmin)
                                        {
                                            <td align="center">
                                                <a data-toggle="tooltip" data-original-title="Editar persona" href="@Url.Action("Persona", new { id = persona.IdPersona})"><i class="fa fa-pencil"></i></a>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
        <div class="row m-b">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h2>Lista de Empresas</h2>
                <section class="panel panel-default">
                    <div class="row text-sm wrapper">
                        <div class="col-sm-12">
                            <a class="btn btn-sm btn-success pull-right btn-rounded" href="@Url.Action("Empresa")"><i class="fa fa-plus"></i> Crear nueva empresa</a>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped m-b-none">
                            <thead>
                                <tr>
                                    <th width="45%">Nombre</th>
                                    <th width="45%" style="text-align:center;">Estado</th>
                                    <th width="10%">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (EmpresaDTO empresa in ViewBag.Empresas)
                                {
                                    var classInactive = (ViewBag.EsAdmin && !empresa.Estado) ? "class='inactive'" : "";
                                    <tr @Html.Raw(classInactive)>
                                        <td>@empresa.Nombre</td>
                                        @{if (empresa.Estado)
                                        {
                                            <td align="center">Activo</td>;
                                        }
                                        else
                                        {
                                            <td align="center">Inactivo</td>;
                                        }}
                                        @if (ViewBag.EsAdmin)
                                        {
                                            <td align="center">
                                                <a data-toggle="tooltip" data-original-title="Editar empresa" href="@Url.Action("Empresa", new { id = empresa.IdEmpresa})"><i class="fa fa-pencil"></i></a>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
