@model BullardEncuestas.Core.DTO.GrupoTrabajoDTO

@{
    if (Model == null || Model.IdGrupoTrabajo == 0)
    {
        ViewBag.Title = "GrupoTrabajo";
    }
    else { ViewBag.Title = Model.Nombre; }
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="vbox">
    <section class="scrollable padder">
        <div class="row m-b">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                @if (Model == null || Model.IdGrupoTrabajo == 0)
                {
                    <h2>Nuevo Grupo de Trabajo</h2>
                }
                else
                {<h2>Actualizar Grupo de Trabajo</h2>}

                @using (Html.BeginForm("AddGrupoTrabajo", "Admin", FormMethod.Post))
                {
                    @Html.ValidationSummary(true)
                    <div class="row m-b">
                        <div class="col-xs-12 col-md-6">
                            @Html.Partial("_showAlertMessages")

                            <section class="panel panel-default">
                                <header class="panel-heading font-bold">Formulario de Registro</header>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        @Html.TextBoxFor(u => u.Nombre, new { @class = "form-control", @placeholder = "Ingrese el nombre del grupo", @type = "text" })
                                        @Html.ValidationMessageFor(u => u.Nombre)
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Estado</label>
                                        <div class="col-lg-9">
                                            @*<label class="checkbox-custom" id="chx">N° DE EXPEDIENTE @Html.CheckBox("Estado", new { @type = "checkbox" })<i class="fa fa-fw fa-square-o"></i></label>*@
                                            @*<input type="checkbox" id="Estado" name="Estado" />*@
                                            @Html.CheckBox("Estado")
                                        </div>
                                    </div>
                                    @*@if (ViewBag.EsAdmin && Model)
                                    {
                                        <div class="line line-dashed line-lg pull-in"></div>
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(u => u.Estado)
                                                Activo
                                            </label>
                                            @Html.ValidationMessageFor(u => u.Estado)
                                        </div>}
                                    else
                                    {
                                        @Html.TextBoxFor(u => u.Active, new { @value = Model != null ? Model.Active : false, @type = "hidden" })
                                    }*@
                                    <div class="line line-dashed line-lg pull-in"></div>
                                    @Html.TextBoxFor(u => u.IdGrupoTrabajo, new { @value = Model != null ? Model.IdGrupoTrabajo.ToString() : "", @type = "hidden" })
                                    @{var btnName = (Model != null && Model.IdGrupoTrabajo > 0) ? "Guardar Cambios" : "Crear";}
                                    <button type="submit" class="btn btn-sm btn-primary">@btnName</button>
                                    @if (ViewBag.EsAdmin)
                                    {
                                        <a class="btn btn-sm btn-danger" href="@Url.Action("GruposTrabajo")">Salir</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-sm btn-danger" href="@Url.Action("Index")">Salir</a>
                                    }
                                </div>
                            </section>
                        </div>
                    </div>
                }
            </div>
        </div>

    </section>
</section>