@using BullardEncuestas.Helpers
@using BullardEncuestas.Core.DTO
@using PagedList;
@model IPagedList<EncuestaDTO>

@{
    ViewBag.Title = "Encuestas";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="hbox stretch">
    <aside>
        <section class="vbox">
            <section class="scrollable padder">
                <div class="col-xs-12 col-md-12">
                    <h2>Encuestas</h2>
                    <div class="row m-b">
                        <div class="col-xs-12 col-md-12">
                            <section class="panel panel-default">
                                <header class="panel-heading font-bold">
                                    <div class="col-sm-12 m-b-lg">
                                        <a class="btn btn-sm btn-success pull-right btn-rounded"><i class="fa fa-plus"></i> Nueva Encuesta</a>
                                    </div>
                                </header>
                                <div class="table-responsive">
                                    <table class="table table-striped b-t b-light" id="tableEncuestas">
                                        <thead>
                                            <tr>
                                                <th width="26%">Encuesta</th>
                                                <th width="21%" style="text-align:center">Periodo</th>
                                                <th width="21%" style="text-align:center">Estado</th>
                                                <th width="21%" style="text-align:center">Resultados</th>
                                                <th width="21%" style="text-align:center">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                foreach (var obj in Model)
                                                {
                                                    <tr>
                                                        <td>@obj.NombreEncuesta</td>
                                                        <td align="center">@obj.Periodo.Descripcion</td>
                                                        @if (obj.Estado)
                                                        {
                                                            <td align="center">Activo</td>}
                                                        else
                                                        {
                                                            <td align="center">Inactivo</td>}
                                                        <td align="center">
                                                            <a href="@Url.Action("Encuesta", new { id = obj.IdEncuesta })">Ver</a>
                                                        </td>

                                                        <td align="center">
                                                            <a href="@Url.Action("Encuesta", new { id = obj.IdEncuesta })" title="Editar">
                                                                <i class="fa fa-pencil"></i>
                                                            </a>
                                                            @if (ViewBag.EsAdmin)
                                                            {
                                                                <a href="@Url.Action("SendCorreo", new { idGrupo = obj.IdGrupoTrabajo, nombreEncuesta = obj.NombreEncuesta, periodo = obj.Periodo.Descripcion })" title="Publicar">
                                                                    <i class="fa fa-envelope"></i>
                                                                </a>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

            </section>
        </section>
    </aside>
</section>
