@using BullardEncuestas.Helpers
@using BullardEncuestas.Core.DTO
@using PagedList;
@model IPagedList<EncuestaDTO>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnEnviarCorreo').click(function () {
                $("#loading").show();
                var evaluado = $(this).data("gevaluado");
                var encuesta = $(this).data("encuesta");
                var periodo = $(this).data("periodo");
                $.ajax({
                    url: "/Admin/SendCorreoEncuesta",
                    type: "POST",
                    cache: false,
                    data: { idGrupo: evaluado, nombreEncuesta: encuesta, periodo: periodo },
                    dataType: "json"
                }).done(function (data) {
                    if (data) {
                        $("#loading").hide();
                    }
                }).fail(function () {
                    $("#loading").hide();
                    alert('Error al intentar obtener el listado de Tipos de Respuesta. Por favor, actualice la página o presione F5.');
                });
            });

            $('#btnNuevaEncuesta').click(function () {
                $('#modal-Encuestaform').modal('show');
            });
        });
    </script>
}

@{
    ViewBag.Title = "Encuestas";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="hbox stretch">
    <aside>
        <section class="vbox">
            <section class="scrollable padder">
                <div class="col-xs-12 col-md-12">
                    <h2>Encuestas</h2>
                    <div class="row m-b">
                        <div class="col-xs-12 col-md-12">
                            <section class="panel panel-default">
                                <header class="panel-heading font-bold">
                                    <div class="col-sm-12 m-b-lg">
                                        <a id="btnNuevaEncuesta" class="btn btn-sm btn-success pull-right btn-rounded"><i class="fa fa-plus"></i> Nueva Encuesta</a>
                                    </div>
                                </header>
                                <div class="table-responsive">
                                    <table class="table table-striped b-t b-light" id="tableEncuestas">
                                        <thead>
                                            <tr>
                                                <th width="5%">ID</th>
                                                <th width="45%">Encuesta</th>
                                                <th width="10%">Periodo</th>
                                                @*<th width="21%" style="text-align:center">Estado</th>*@
                                                <th width="10%">Resultados</th>
                                                <th width="30%" style="text-align:center">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {

                                                int cont = 1;
                                                foreach (var obj in Model)
                                                {
                                                    var classInactive = (ViewBag.EsAdmin && !obj.EstadoEncuesta) ? "class='inactive'" : "";
                                                    <tr>

                                                        <td align="center">
                                                            @if (ViewBag.EsAdmin && !obj.EstadoEncuesta)
                                                            { <span class="badge bg-danger" data-toggle="tooltip" data-placement="left" data-original-title="Inactivo">@cont</span>}
                                                            else
                                                            {@cont}
                                                        </td>
                                                        <td>@obj.NombreEncuesta</td>
                                                        <td>@obj.Periodo.Descripcion</td>
                                                        <td><a href="@Url.Action("Encuesta", new { id = obj.IdEncuesta })" data-toggle="tooltip" data-original-title="Mostrar reporte">Ver</a></td>
                                                        @if (ViewBag.EsAdmin)
                                                        {
                                                            <td style="text-align: center;">
                                                                <a style="text-align: center; padding: 0 15px;" href="@Url.Action("Encuesta", new { id = obj.IdEncuesta })" data-toggle="tooltip" data-original-title="Editar encuesta">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                                @*<a id="btnEnviarCorreo" href="@Url.Action("SendCorreoEncuesta", new { idGrupo = obj.IdGrupoEvaluado, nombreEncuesta = obj.NombreEncuesta, periodo = obj.Periodo.Descripcion })" data-toggle="tooltip" data-original-title="Enviar encuesta">
                                                                    <i class="fa fa-envelope"></i>
                                                                </a>*@
                                                                <a id="btnEnviarCorreo" data-toggle="tooltip" data-original-title="Enviar encuesta" data-gevaluado="@obj.IdGrupoEvaluado" data-encuesta="@obj.NombreEncuesta" data-periodo="@obj.Periodo.Descripcion">
                                                                    <i class="fa fa-envelope"></i>
                                                                </a>
                                                            </td>
                                                        }
                                                    </tr>
                                                        cont++;
                                                }
                                            }
                                            @*@if (Model != null)
                                                {
                                                    foreach (var obj in Model)
                                                    {
                                                        <tr>
                                                            <td>@obj.NombreEncuesta</td>
                                                            <td align="center">@obj.Periodo.Descripcion</td>
                                                            @if (obj.Estado)
                                                            {
                                                                <td align="center">Activo</td>}
                                                            else
                                                            {
                                                                <td align="center">Inactivo</td>}
                                                            <td align="center">
                                                                <a href="@Url.Action("Encuesta", new { id = obj.IdEncuesta })">Ver</a>
                                                            </td>

                                                            <td align="center">
                                                                <a href="@Url.Action("Encuesta", new { id = obj.IdEncuesta })" title="Editar">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                                @if (ViewBag.EsAdmin)
                                                                {
                                                                    <a href="@Url.Action("SendCorreo", new { idGrupo = obj.IdGrupoEvaluado, nombreEncuesta = obj.NombreEncuesta, periodo = obj.Periodo.Descripcion })" title="Publicar">
                                                                        <i class="fa fa-envelope"></i>
                                                                    </a>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }*@
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

            </section>
        </section>
    </aside>
</section>
<div id="loading" style="display:none;">
    <img id="loading-image" src="../../Content/themes/admin/gif/loading.gif" alt="Loading..." />
</div>
<div class="modal fade" id="modal-Encuestaform">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Nueva Encuesta</h4>
            </div>
            @using (Html.BeginForm("AddEncuesta", "Admin", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row">
                        <div id="registro" class="col-sm-12 form-horizontal">
                            <input type="hidden" id="IdEncuesta" name="IdEncuesta" />
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Periodo</label>
                                <div class="col-lg-9">
                                    <select id="IdPeriodo" name="IdPeriodo" class="form-control"></select>
                                    <input type="text" id="NombrePeriodo" name="NombrePeriodo" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Grupo</label>
                                <div class="col-lg-9">
                                    <select id="IdGrupoEncuesta" name="IdGrupoEncuesta" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" id="brnSaveEncuesta">Guardar</button>
                </div>
            }
        </div>
    </div>
</div>