@section styles{
    @Styles.Render("~/Content/themes/admin/js/fuelux/fuelux.css")
}
@section scripts{
    @Scripts.Render("~/Content/themes/admin/js/fuelux/fuelux.js")
    @Scripts.Render("~/Content/js/Encuesta.js")
}

@model BullardEncuestas.Core.DTO.EncuestaEvaluadorDTO
@{
    if (Model == null)
    {
        ViewBag.Title = "Encuesta Evaluador";
    }
    else { ViewBag.Title = ViewBag.EncuestaNombre; }
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="vbox">
    <section class="scrollable padder">
        <div class="row m-b">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h2>Periodo / Encuesta</h2>
                @Html.ValidationSummary(true)
                <div class="row m-b">
                    <div class="col-xs-12 col-md-9">
                        @Html.Partial("_showAlertMessages")
                        <section class="panel panel-default">
                            @*<header class="panel-heading affix" style="min-height:inherit; min-width:641%; overflow-x:auto">*@
                            <header class="panel-heading mi-head">
                                @*min-height:50px 130 641*@
                                <p>
                                    <div class="font-bold">Instrucciones:</div><div>Estas son las instrucciones base</div>
                                </p>
                                <p>
                                    <div class="font-bold">Leyenda:</div><div>Malo 1 - Deficient 2 - Regular 3 - Bueno 4 - Excelente 5</div>
                                </p>
                            </header>
                            <div class="panel-body">

                                <div class="panel-header col-md-12">
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-8" style="text-align:center;">Evaluados</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                        </div>
                                        @{ var countPer = ViewBag.Personas.Count; }
                                        @foreach (var persona in ViewBag.Personas)
                                        {
                                            <div class="col-md-2 rotate"><div><span>@persona.Nombre</span></div></div>
                                        }
                                        @*<div class="col-md-2 rotate"><div><span>Antonio Rodriguez</span></div></div>
                                            <div class="col-md-2 rotate"><div><span>Rodrigo Sarria</span></div></div>
                                            <div class="col-md-2 rotate"><div><span>Evert Huamani</span></div></div>
                                            <div class="col-md-2 rotate"><div><span>Wilder Tarazona</span></div></div>*@
                                    </div>
                                    <div class="row">
                                        <button id="nestable-menu" class="btn btn-xs btn-default active" data-toggle="class:show">
                                            <i class="fa fa-plus text"></i>
                                            <span class="text">Expand All</span>
                                            <i class="fa fa-minus text-active"></i>
                                            <span class="text-active">Collapse All</span>
                                        </button>
                                    </div>
                                    <div class="row">
                                        <div>
                                            <div class="dd" id="nestable1">
                                                @{ var countSec = ViewBag.Encuesta.Secciones.Count; var estadoSec = string.Empty; var estadoSubSec = string.Empty; var estadoPreg = string.Empty;  }
                                                @if (countSec > 0)
                                                {
                                                    <ol class="dd-list collapse">
                                                        @foreach (var seccion in ViewBag.Encuesta.Secciones)
                                                        {
                                                            if (seccion.Estado)
                                                            {
                                                                <li class="dd-item" data-id="@seccion.IdSeccion">
                                                                    <div class="dd-handle">@seccion.Nombre</div>
                                                                    @{ var countSubSec = seccion.SubSecciones.Count;  }
                                                                    @if (countSubSec > 0)
                                                                    {
                                                                        <ol class="dd-list">
                                                                            @foreach (var subSeccion in seccion.SubSecciones)
                                                                            {
                                                                                if (subSeccion.Estado)
                                                                                {
                                                                                    <li class="dd-item" data-id="@subSeccion.IdSeccion">
                                                                                        <div class="dd-handle">@subSeccion.Nombre</div>
                                                                                        @{ var countPregSubSec = subSeccion.Preguntas.Count;  }
                                                                                        @if (countPregSubSec > 0)
                                                                                        {
                                                                                            <ol class="dd-list">
                                                                                                @foreach (var pregunta in subSeccion.Preguntas)
                                                                                                {
                                                                                                    estadoPreg = (pregunta.EstadoPregunta ? "" : "red");
                                                                                                    <li class="dd-item" data-id="@pregunta.IdPregunta">
                                                                                                        <div class="row">
                                                                                                            <div class="dd-handle">@pregunta.Texto <b class='badge bg-warning dot @estadoPreg'></b></div>
                                                                                                        </div>
                                                                                                        <div class="row">
                                                                                                            <div class="dd-handle">@pregunta.Texto <b class='badge bg-warning dot @estadoPreg'></b></div>
                                                                                                        </div>
                                                                                                    </li>
                                                                                                }
                                                                                            </ol>
                                                                                        }
                                                                                    </li>
                                                                                }
                                                                            }
                                                                        </ol>
                                                                    }
                                                                    @{ var countPregSec = seccion.Preguntas.Count;  }
                                                                    @if (countPregSec > 0)
                                                                    {
                                                                        <ol class="dd-list">
                                                                            @foreach (var pregunta in seccion.Preguntas)
                                                                            {
                                                                                if (pregunta.EstadoPregunta)
                                                                                {
                                                                                    <li class="dd-item" data-id="@pregunta.IdPregunta">
                                                                                        <div class="dd-handle"><b class='badge bg-warning dot'></b>&nbsp;&nbsp;&nbsp;&nbsp;@pregunta.Texto</div>
                                                                                    </li>
                                                                                }
                                                                            }
                                                                        </ol>
                                                                    }
                                                                </li>
                                                            }
                                                        }
                                                    </ol>
                                                }
                                            </div>
                                        </div>


                                    </div>


                                </div>

                            </div>
                        </section>
                        <footer class="col-md-12">
                            <div class="row">
                                <div class="col-md-8"></div>
                                <div class="col-md-4" style="align-items:center;">
                                    <button type="submit" id="btnSalir" class="btn btn-sm btn-primary btn-rounded">Salir</button>
                                    <button type="submit" id="btnGuardar" class="btn btn-sm btn-primary btn-rounded">Guardar</button>
                                    <button type="submit" id="btnEnviar" class="btn btn-sm btn-primary btn-rounded">Enviar</button>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
