@model BullardEncuestas.Core.DTO.EncuestaEvaluadorDTO
@section styles{
    @Styles.Render("~/Content/themes/admin/js/fuelux/fuelux.css")
    @Styles.Render("~/Content/themes/admin/js/StickyTableHeaders/normalize.css")
    @Styles.Render("~/Content/themes/admin/js/StickyTableHeaders/demo.css")
    @Styles.Render("~/Content/themes/admin/js/StickyTableHeaders/component.css")
    <style>
        .selectedItem {
            border: 2px dashed #ff0000;
        }
    </style>
}
@section scripts{
    @Scripts.Render("http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js")
    @Scripts.Render("~/Content/themes/admin/js/StickyTableHeaders/jquery.stickyheader.js")
    @Scripts.Render("~/Content/themes/admin/js/fuelux/fuelux.js")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnGuardar").click(function () {
                var listaIdRespuestas = []; $('.listaIdRespuestas').each(function (index, item) { var value = item.value; listaIdRespuestas.push(value); });
                var listaPreguntas = []; $('.listaPreguntas').each(function (index, item) { var value = item.value; listaPreguntas.push(value); });
                var listaEvaluados = []; $('.listaEvaluados').each(function (index, item) { var value = item.value; listaEvaluados.push(value); });
                var listaRespuestas = []; $('.listaRespuestas').each(function (index, item) { var value = item.value; listaRespuestas.push(value); });
                var encuestaEvaluadorDTO = {
                    IdEncuestaEvaluador: $("#IdEncuestaEvaluador").val(),
                    IdEncuesta: $("#IdEncuesta").val(),
                    IdEvaluador: $("#IdEvaluador").val(),
                    listaIdRespuestas: listaIdRespuestas,
                    listaPreguntas: listaPreguntas,
                    listaEvaluados: listaEvaluados,
                    listaRespuestas: listaRespuestas,
                    EstaCompleto: false, //Encuesta No Enviada (Incompleta)
                    Accion: 1,
                };
                $.ajax({
                    url: "/Admin/SaveEncuestaEvaluador",
                    type: "POST",
                    cache: false,
                    data: { encuestaEvaluador: JSON.stringify(encuestaEvaluadorDTO) },
                    dataType: "json"
                }).done(function (data) {
                    if (data.Response) {
                        $("#IdEncuestaEvaluador").val(data.Id);
                        alert("La encuesta se ha guardado correctamente.");
                    }
                }).fail(function () {
                    alert('Error al intentar guardar la Encuesta. Por favor, actualice la página o presione F5.');
                });
            });

            $("#btnEnviar").click(function () {
                if (confirm("¿Está seguro que desea enviar la encuesta?")) {
                    $("#loading").show();
                    var listaIdRespuestas = []; $('.listaIdRespuestas').each(function (index, item) { var value = item.value; listaIdRespuestas.push(value); });
                    var listaPreguntas = []; $('.listaPreguntas').each(function (index, item) { var value = item.value; listaPreguntas.push(value); });
                    var listaEvaluados = []; $('.listaEvaluados').each(function (index, item) { var value = item.value; listaEvaluados.push(value); });
                    var listaRespuestas = []; $('.listaRespuestas').each(function (index, item) { var value = item.value; listaRespuestas.push(value); });
                    var conta = 0;
                    if (listaRespuestas.indexOf("0") > -1) conta = 1;
                    if (conta == 0) {
                        var encuestaEvaluadorDTO = {
                            IdEncuestaEvaluador: $("#IdEncuestaEvaluador").val(),
                            IdEncuesta: $("#IdEncuesta").val(),
                            IdEvaluador: $("#IdEvaluador").val(),
                            listaIdRespuestas: listaIdRespuestas,
                            listaPreguntas: listaPreguntas,
                            listaEvaluados: listaEvaluados,
                            listaRespuestas: listaRespuestas,
                            EstaCompleto: true, //Encuesta enviada (Completa)
                            Accion: 2
                        };
                        $.ajax({
                            url: "/Admin/SendEncuestaEvaluador",
                            type: "POST",
                            cache: false,
                            data: { encuestaEvaluador: JSON.stringify(encuestaEvaluadorDTO) },
                            dataType: "json"
                        }).done(function (data) {
                            $("#loading").hide();
                            if (data.Response) {
                                window.location = "/Admin/MensajeEncuesta";
                            } else {
                                alert("Por favor verifique todas las respuesta estén marcadas.\nSi el problema continúa actualice la página o presione F5.");
                            }
                        }).fail(function () {
                            alert('Error al intentar enviar la Encuesta. Por favor, actualice la página o presione F5.');
                        });
                    } else {
                        //$(".listaRespuestas option:selected[value=0]").addClass("selectedItem");
                        $("#loading").hide();
                        $('.listaRespuestas').not('input, textarea').each(function (index, element) {
                            var val = $(element).val();
                            AddRemoveValidation(val, $(element));
                        });
                        alert("Por favor verifique que todas las respuesta estén marcadas.\nSi el problema continúa actualice la página o presione F5.");
                    }
                }
            });

            $(".btnAsignar").click(function () {
                var idSeccion = $(this).data("idseccion");
                var idOpcion = $("#SelectMasivo_" + idSeccion).val();
                var elements = $("#" + idSeccion + " .listaRespuestas").not('input, textarea');
                elements.val(idOpcion);
                elements.each(function (index, element) {
                    var val = $(element).val();
                    AddRemoveValidation(val, $(element));
                });
            });

            $(".listaRespuestas").change(function () {
                var val = $(this).val();
                AddRemoveValidation(val, $(this));
            });
        });
        function AddRemoveValidation(value, element) {
            if (value === '0') element.addClass("selectedItem");
            else element.removeClass("selectedItem");
        }
        //function setActionHidden(action) {
        //    $("#Accion").val(action);
        //}
    </script>
}
@{
    if (Model == null)
    {
        ViewBag.Title = "Encuesta Evaluador";
    }
    else { ViewBag.Title = ViewBag.EncuestaNombre; }
    Layout = "~/Views/Shared/_LayoutOffLine.cshtml";
}

<section class="vbox">
    <section class="scrollable padder">
        <div class="row m-b">
            <div class="col-xs-12 col-md-12">
                <h2> @Html.LabelFor(m => m.Encuesta.Periodo.Descripcion, Model.Encuesta.Periodo.Descripcion) / @Html.LabelFor(m => m.Encuesta.NombreEncuesta, Model.Encuesta.NombreEncuesta) </h2>

                @*@using (Html.BeginForm("AddEncuestaEvaluador", "Admin", FormMethod.Post)) {*@
                @Html.ValidationSummary(true)
                <div class="row m-b">
                    <div class="col-xs-12 col-md-12">
                        @Html.Partial("_showAlertMessages")
                        <section class="panel panel-default">
                            @*<header class="panel-heading affix" style="min-height:inherit; min-width:641%; overflow-x:auto">*@
                            <header class="panel-heading mi-head">
                                <p>
                                    <div class="font-bold">Instrucciones:</div><div>@Model.Encuesta.Instrucciones</div>
                                </p>
                                <p>
                                    <div class="font-bold">Leyenda:</div><div>@Model.Encuesta.Leyenda</div>
                                </p>
                            </header>
                            <div class="panel-body">
                                @if (Model.Encuesta.Secciones.Count > 0)
                                {
                                    <div class="panel-group m-b" id="accordionN1">
                                        @foreach (var seccion in Model.Encuesta.Secciones)
                                        {
                                            if ((seccion.EsSocio && ViewBag.EsSocio) || !seccion.EsSocio)
                                            {
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <div class="panel-title">
                                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionN1" href="#@seccion.IdSeccion"> @seccion.Nombre </a>
                                                            @if (seccion.SubSecciones.Count == 0 && !seccion.Nombre.ToUpper().Contains("COMENTARIOS"))
                                                            {
                                                                <span class="pull-right">
                                                                    Respuesta Masiva : @Html.DropDownList("SelectMasivo_" + seccion.IdSeccion, new SelectList(ViewBag.Items_SelectSINO, "IdOpcion", "Nombre", 0), new { @class = "input-sm input-s", @style = "width: auto;" })
                                                                    <button type="button" class="btn btn-sm btn-edit btn-rounded btnAsignar" data-idseccion="@seccion.IdSeccion">Asignar</button>
                                                                </span>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div id="@seccion.IdSeccion" class="panel-collapse collapse in">
                                                        <div class="panel-body">
                                                            @if (seccion.Preguntas.Count > 0)
                                                            {
                                                                <table class="overflow-y">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Nombres X Preguntas</th>
                                                                            @foreach (var evaluado in ViewBag.Evaluados)
                                                                            {
                                                                                <th>
                                                                                    @evaluado.Nombre
                                                                                </th>
                                                                            }
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var pregunta in seccion.Preguntas)
                                                                        {
                                                                            <tr>
                                                                                <th>@pregunta.Texto</th>
                                                                                @foreach (var evaluado in ViewBag.Evaluados)
                                                                                {
                                                                                    var respuesta = pregunta.Respuestas.Where(p => p.IdEvaluado == evaluado.IdPersona).Select(p => new BullardEncuestas.Core.DTO.RespuestasDTO { IdRespuestas = p.IdRespuestas, Valor = p.Valor }).FirstOrDefault();
                                                                                    <td>
                                                                                        @switch (pregunta.IdTipoRespuesta)
                                                                                        {
                                                                                            case 1: @Html.TextBoxFor(u => u.listaRespuestas, new { @value = (respuesta != null ? respuesta.Valor.Trim() : ""), @class = "form-control input-sm listaRespuestas", @placeholder = "", @type = "text" })
                                                                                                break;
                                                                                            case 2: @Html.TextArea("listaRespuestas", respuesta != null ? respuesta.Valor.Trim() : "", new { @class = "form-control input-sm listaRespuestas" })
                                                                                                break;
                                                                                            case 3: @Html.DropDownListFor(u => u.listaRespuestas, new SelectList(ViewBag.Items_SelectSINO, "IdOpcion", "Nombre", respuesta != null ? Convert.ToInt32(respuesta.Valor) : 0), new { @class = "input-sm listaRespuestas", @style = "width: auto;" })
                                                                                                break;
                                                                                            default: break;
                                                                                        }
                                                                                        @Html.HiddenFor(u => u.listaIdRespuestas, new { @Value = (respuesta != null ? respuesta.IdRespuestas : 0), @class = "listaIdRespuestas" })
                                                                                        @Html.HiddenFor(u => u.listaPreguntas, new { @Value = pregunta.IdPregunta, @class = "listaPreguntas" })
                                                                                        @Html.HiddenFor(u => u.listaEvaluados, new { @Value = evaluado.IdPersona, @class = "listaEvaluados" })
                                                                                    </td>
                                                                                }
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>

                                                            }
                                                            @if (seccion.SubSecciones.Count > 0)
                                                            {
                                                                <div class="panel-body">
                                                                    <div class="panel-group m-b" id="accordionN2">
                                                                        @foreach (var subSeccion in seccion.SubSecciones)
                                                                        {
                                                                            if ((subSeccion.EsSocio && ViewBag.EsSocio) || !subSeccion.EsSocio)
                                                                            {
                                                                                <div class="panel panel-default">
                                                                                    <div class="panel-heading">
                                                                                        <div class="panel-title">
                                                                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionN2" href="#@subSeccion.IdSeccion"> @subSeccion.Nombre </a>
                                                                                            <span class="pull-right">
                                                                                                Respuesta Masiva : @Html.DropDownList("SelectMasivo_" + subSeccion.IdSeccion, new SelectList(ViewBag.Items_SelectSINO, "IdOpcion", "Nombre", 0), new { @class = "input-sm input-s", @style = "width: auto;" })
                                                                                                <button type="button" class="btn btn-sm btn-edit btn-rounded btnAsignar" data-idseccion="@subSeccion.IdSeccion">Asignar</button>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div id="@subSeccion.IdSeccion" class="panel-collapse collapse in">
                                                                                        @*panel-collapse collapse*@
                                                                                        <div class="panel-body">
                                                                                            @if (subSeccion.Preguntas.Count > 0)
                                                                                            {
                                                                                                <table class="overflow-y">
                                                                                                    <thead>
                                                                                                        <tr>
                                                                                                            <th>Nombres X Preguntas</th>
                                                                                                            @foreach (var evaluado in ViewBag.Evaluados)
                                                                                                            {
                                                                                                                <th>
                                                                                                                    @evaluado.Nombre
                                                                                                                </th>
                                                                                                            }
                                                                                                        </tr>
                                                                                                    </thead>
                                                                                                    <tbody>
                                                                                                        @foreach (var pregunta in subSeccion.Preguntas)
                                                                                                        {
                                                                                                            <tr>
                                                                                                                <th>@pregunta.Texto</th>
                                                                                                                @foreach (var evaluado in ViewBag.Evaluados)
                                                                                                                {
                                                                                                                    var respuesta = pregunta.Respuestas.Where(p => p.IdEvaluado == evaluado.IdPersona).Select(p => new BullardEncuestas.Core.DTO.RespuestasDTO { IdRespuestas = p.IdRespuestas, Valor = p.Valor }).FirstOrDefault();
                                                                                                                    <td>
                                                                                                                        @switch (pregunta.IdTipoRespuesta)
                                                                                                                        {
                                                                                                                            case 1: @Html.TextBoxFor(u => u.listaRespuestas, new { @Value = (respuesta != null ? respuesta.Valor.Trim() : ""), @class = "form-control input-sm listaRespuestas", @placeholder = "", @type = "text" })
                                                                                                                                break;
                                                                                                                            case 2: @Html.TextArea("listaRespuestas", respuesta != null ? respuesta.Valor.Trim() : "", new { @class = "form-control input-sm listaRespuestas" })
                                                                                                                                break;
                                                                                                                            case 3: @Html.DropDownListFor(u => u.listaRespuestas, new SelectList(ViewBag.Items_SelectSINO, "IdOpcion", "Nombre", respuesta != null ? Convert.ToInt32(respuesta.Valor) : 0), new { @class = "input-sm listaRespuestas", @style = "width: auto;" })
                                                                                                                                break;
                                                                                                                            default: break;
                                                                                                                        }
                                                                                                                        @Html.HiddenFor(u => u.listaIdRespuestas, new { @Value = (respuesta != null ? respuesta.IdRespuestas : 0), @class = "listaIdRespuestas" })
                                                                                                                        @Html.HiddenFor(u => u.listaPreguntas, new { @Value = pregunta.IdPregunta, @class = "listaPreguntas" })
                                                                                                                        @Html.HiddenFor(u => u.listaEvaluados, new { @Value = evaluado.IdPersona, @class = "listaEvaluados" })
                                                                                                                    </td>
                                                                                                                }
                                                                                                            </tr>
                                                                                                        }
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            }
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            }
                                                                        }
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                }
                            </div>
                        </section>
                        <footer class="col-md-12">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8" style="align-items:center;">
                                    @Html.TextBoxFor(u => u.IdEncuestaEvaluador, new { @Value = Model != null ? Model.IdEncuestaEvaluador.ToString() : "", @type = "hidden" })
                                    @Html.TextBoxFor(u => u.IdEncuesta, new { @Value = Model != null ? Model.IdEncuesta.ToString() : "", @type = "hidden" })
                                    @Html.TextBoxFor(u => u.IdEvaluador, new { @Value = Model != null ? Model.IdEvaluador.ToString() : "", @type = "hidden" })
                                    @Html.TextBoxFor(u => u.IdGrupoEvaluado, new { @Value = Model != null ? Model.IdGrupoEvaluado.ToString() : "", @type = "hidden" })
                                    @*<input type="hidden" id="Accion" name="Accion" />*@
                                    @*<a class="btn btn-sm btn-danger btn-rounded" href="@Url.Action("Salir")">Salir</a>*@
                                    <button type="button" id="btnGuardar" class="btn btn-sm btn-primary btn-rounded">Guardar y continuar después.</button>
                                    <button type="button" id="btnEnviar" class="btn btn-sm btn-danger btn-rounded">Enviar y salir.</button>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<div id="loading" style="display:none;">
    <img id="loading-image" src="../../Content/images/loading.gif" alt="Loading..." />
</div>