@model BullardEncuestas.Core.DTO.EncuestaEvaluadorDTO
@section styles{
    @Styles.Render("~/Content/themes/admin/js/fuelux/fuelux.css")
}
@section scripts{
    @Scripts.Render("~/Content/themes/admin/js/fuelux/fuelux.js")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnGuardar").click(function () {
                var listaIdRespuestas = []; $('.listaIdRespuestas').each(function (index, item) { var value = item.value; listaIdRespuestas.push(value); });
                var listaPreguntas = []; $('.listaPreguntas').each(function (index, item) { var value = item.value; listaPreguntas.push(value); });
                var listaEvaluados = []; $('.listaEvaluados').each(function (index, item) { var value = item.value; listaEvaluados.push(value); });
                var listaRespuestas = []; $('.listaRespuestas').each(function (index, item) { var value = item.value; listaRespuestas.push(value); });

                var encuestaEvaluadorDTO = {
                    IdEncuestaEvaluador: $("#IdEncuestaEvaluador"),
                    IdEncuesta: $("#IdEncuesta"),
                    IdEvaluador: $("#IdEvaluador"),
                    listaIdRespuestas: listaIdRespuestas,
                    listaPreguntas: listaPreguntas,
                    listaEvaluados: listaEvaluados,
                    listaRespuestas: listaRespuestas
                };

                $.ajax({
                    url: "/Admin/SaveEncuestaEvaluador",
                    type: "POST",
                    cache: false,
                    data: { dto: JSON.stringify(encuestaEvaluadorDTO) },
                    dataType: "json"
                }).done(function (data) {
                    if (data) {
                        alert("La encuesta se ha guardado correctamente.");
                    }
                }).fail(function () {
                    alert('Error al intentar obtener el listado de Tipos de Respuesta. Por favor, actualice la página o presione F5.');
                });
            });
        });
        function setActionHidden(action) {
            $("#Accion").val(action);
        }
    </script>
    }
@{
    if (Model == null)
    {
        ViewBag.Title = "Encuesta Evaluador";
    }
    else { ViewBag.Title = ViewBag.EncuestaNombre; }
    Layout = "~/Views/Shared/_LayoutOffLine.cshtml";
}

<section class="vbox">
    <section class="scrollable padder">
        <div class="row m-b">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h2> @Html.LabelFor(m => m.Encuesta.Periodo.Descripcion, Model.Encuesta.Periodo.Descripcion) / @Html.LabelFor(m => m.Encuesta.NombreEncuesta, Model.Encuesta.NombreEncuesta) </h2>

                @using (Html.BeginForm("AddEncuestaEvaluador", "Admin", FormMethod.Post))
                {
                    @Html.ValidationSummary(true)
                    <div class="row m-b">
                        <div class="col-xs-12 col-md-9">
                            @Html.Partial("_showAlertMessages")
                            <section class="panel panel-default">
                                @*<header class="panel-heading affix" style="min-height:inherit; min-width:641%; overflow-x:auto">*@
                                <header class="panel-heading mi-head">
                                    @*min-height:50px 130 641*@
                                    <p>
                                        <div class="font-bold">Instrucciones:</div><div>@Model.Encuesta.Instrucciones</div>
                                    </p>
                                    <p>
                                        <div class="font-bold">Leyenda:</div><div>@Model.Encuesta.Leyenda</div>
                                    </p>
                                </header>
                                <div class="panel-body">
                                    @*@{ var countEvaluados = ViewBag.Evaluados.Count; }*@
                                    @if (Model.Encuesta.Secciones.Count > 0)
                                    {
                                        <div class="panel-group m-b" id="accordionN1">
                                            @foreach (var seccion in Model.Encuesta.Secciones)
                                            {
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionN1" href="#@seccion.IdSeccion"> @seccion.Nombre </a>
                                                        </h4>
                                                    </div>
                                                    <div id="@seccion.IdSeccion" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            @if (seccion.Preguntas.Count > 0)
                                                            {
                                                                <div class="table-responsive">
                                                                    <table class="table table-bordered">
                                                                        <tbody>
                                                                            <tr>
                                                                                <th>&nbsp;</th>
                                                                                @foreach (var evaluado in ViewBag.Evaluados)
                                                                                {
                                                                                    <th>
                                                                                        <div class="rotate"><div><span>@evaluado.Nombre</span></div></div>
                                                                                    </th>
                                                                                }
                                                                            </tr>
                                                                            @foreach (var pregunta in seccion.Preguntas)
                                                                            {
                                                                                <tr>
                                                                                    <td>@pregunta.Texto</td>
                                                                                    @foreach (var evaluado in ViewBag.Evaluados)
                                                                                    {
                                                                                        var respuesta = pregunta.Respuestas.Where(p => p.IdEvaluado == evaluado.IdPersona).Select(p => new BullardEncuestas.Core.DTO.RespuestasDTO { IdRespuestas = p.IdRespuestas, Valor = p.Valor }).FirstOrDefault();
                                                                                        <td>
                                                                                            @switch (pregunta.IdTipoRespuesta)
                                                                                            {
                                                                                                case 1: @Html.TextBoxFor(u => u.listaRespuestas, new { @Value = respuesta, @class = "form-control input-sm listaRespuestas", @placeholder = "", @type = "text" })
                                                                                                    break;
                                                                                                case 2: @Html.TextAreaFor(u => u.listaRespuestas, new { @Value = respuesta, @class = "form-control input-sm listaRespuestas", @placeholder = "", @type = "text" })
                                                                                                    break;
                                                                                                case 3: @Html.DropDownListFor(u => u.listaRespuestas, new SelectList(ViewBag.Items_SelectSINO, "IdOpcion", "Nombre", respuesta != null ? Convert.ToInt32(respuesta.Valor) : 0), new { @class = "input-sm listaRespuestas", @style = "width: auto;" })
                                                                                                    break;
                                                                                                default: break;
                                                                                            }
                                                                                            @Html.HiddenFor(u => u.listaIdRespuestas, new { @Value = (respuesta != null ? respuesta.IdRespuestas : 0), @class = "listaIdRespuestas" })
                                                                                            @Html.HiddenFor(u => u.listaPreguntas, new { @Value = pregunta.IdPregunta, @class = "listaPreguntas" })
                                                                                            @Html.HiddenFor(u => u.listaEvaluados, new { @Value = evaluado.IdPersona, @class = "listaEvaluados" })
                                                                                        </td>
                                                                                    }
                                                                                </tr>
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            }
                                                            @if (seccion.SubSecciones.Count > 0)
                                                            {

                                                                <div class="panel-group m-b" id="accordionN2">
                                                                    @foreach (var subSeccion in seccion.SubSecciones)
                                                                    {
                                                                        <div class="panel panel-default">
                                                                            <div class="panel-heading">
                                                                                <h4 class="panel-title">
                                                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionN2" href="#@subSeccion.IdSeccion"> @subSeccion.Nombre </a>
                                                                                </h4>
                                                                            </div>
                                                                            <div id="@subSeccion.IdSeccion" class="panel-collapse collapse">
                                                                                <div class="panel-body">
                                                                                    @if (subSeccion.Preguntas.Count > 0)
                                                                                    {
                                                                                        <div class="table-responsive">
                                                                                            <table class="table table-bordered">
                                                                                                <tbody>
                                                                                                    @foreach (var pregunta in subSeccion.Preguntas)
                                                                                                    {
                                                                                                        <tr>
                                                                                                            <td>@pregunta.Texto</td>
                                                                                                            @foreach (var evaluado in ViewBag.Evaluados)
                                                                                                            {
                                                                                                                var respuesta = pregunta.Respuestas.Where(p => p.IdEvaluado == evaluado.IdPersona).Select(p => new BullardEncuestas.Core.DTO.RespuestasDTO { IdRespuestas = p.IdRespuestas, Valor = p.Valor }).FirstOrDefault();
                                                                                                                <td>
                                                                                                                    @switch (pregunta.IdTipoRespuesta)
                                                                                                                    {
                                                                                                                        case 1: @Html.TextBoxFor(u => u.listaRespuestas, new { @Value = respuesta, @class = "form-control input-sm listaRespuestas", @placeholder = "", @type = "text" })
                                                                                                                            break;
                                                                                                                        case 2: @Html.TextAreaFor(u => u.listaRespuestas, new { @Value = respuesta, @class = "form-control input-sm listaRespuestas", @placeholder = "", @type = "text" })
                                                                                                                            break;
                                                                                                                        case 3: @Html.DropDownListFor(u => u.listaRespuestas, new SelectList(ViewBag.Items_SelectSINO, "IdOpcion", "Nombre", respuesta != null ? Convert.ToInt32(respuesta.Valor) : 0), new { @class = "input-sm listaRespuestas", @style = "width: auto;" })
                                                                                                                            break;
                                                                                                                        default: break;
                                                                                                                    }
                                                                                                                    @Html.HiddenFor(u => u.listaIdRespuestas, new { @Value = (respuesta != null ? respuesta.IdRespuestas : 0), @class = "listaIdRespuestas" })
                                                                                                                    @Html.HiddenFor(u => u.listaPreguntas, new { @Value = pregunta.IdPregunta, @class = "listaPreguntas" })
                                                                                                                    @Html.HiddenFor(u => u.listaEvaluados, new { @Value = evaluado.IdPersona, @class = "listaEvaluados" })
                                                                                                                </td>
                                                                                                            }
                                                                                                        </tr>
                                                                                                    }
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </div>
                                                                                    }
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    }
                                                                </div>

                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </section>
                            <footer class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-8" style="align-items:center;">
                                        @Html.TextBoxFor(u => u.IdEncuestaEvaluador, new { @Value = Model != null ? Model.IdEncuestaEvaluador.ToString() : "", @type = "hidden" })
                                        @Html.TextBoxFor(u => u.IdEncuesta, new { @Value = Model != null ? Model.IdEncuesta.ToString() : "", @type = "hidden" })
                                        @Html.TextBoxFor(u => u.IdEvaluador, new { @Value = Model != null ? Model.IdEvaluador.ToString() : "", @type = "hidden" })
                                        @Html.TextBoxFor(u => u.IdGrupoEvaluado, new { @Value = Model != null ? Model.IdGrupoEvaluado.ToString() : "", @type = "hidden" })
                                        <input type="hidden" id="Accion" name="Accion" />
                                        @*<a class="btn btn-sm btn-danger btn-rounded" href="@Url.Action("Salir")">Salir</a>*@
                                        <button type="submit" id="btnGuardar" class="btn btn-sm btn-primary btn-rounded" onclick="setActionHidden(1)">Guardar y continuar después.</button>
                                        <button type="submit" id="btnEnviar" class="btn btn-sm btn-danger btn-rounded" onclick="setActionHidden(2)">Salir y enviar.</button>
                                        @*<a class="btn btn-sm btn-default btn-rounded" href="@Url.Action("EnviarEncuesta")">Enviar</a>*@
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</section>
