@using BullardEncuestas.Helpers
@using BullardEncuestas.Core.DTO
@using PagedList;
@using System.Globalization;
@model EncuestaDTO
@section styles{
    @Styles.Render("~/Content/themes/admin/js/fuelux/fuelux.css")
    @Styles.Render("~/Content/themes/admin/js/StickyTableHeaders/normalize.css")
    @Styles.Render("~/Content/themes/admin/js/StickyTableHeaders/demo.css")
    @Styles.Render("~/Content/themes/admin/js/StickyTableHeaders/component.css")
}
@section scripts{
    @Scripts.Render("~/Content/themes/admin/js/fuelux/fuelux.js")
    @Scripts.Render("http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js")
    @Scripts.Render("~/Content/themes/admin/js/StickyTableHeaders/jquery.stickyheader.js")
}
@{
    ViewBag.Title = "ReportesDetalle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="vbox">
    <section class="scrollable padder">
        <div class="row m-b">
            <div class="col-xs-12 col-md-12">
                <p style="margin-top:10px;"></p>
                @Html.Partial("_showAlertMessages")
                <h2>Reporte</h2>
                <section class="panel panel-default">
                    <header class="panel-heading"><b>Encuesta:</b> @Model.NombreEncuesta  <b>Periodo:</b> @Model.Periodo.Descripcion</header>
                    @{
                        var promGene = Model.PromedioGeneral != null ? Model.PromedioGeneral.ToString() : "No existen datos suficientes para obtener un promedio general";
                        var promGeneAnt = Model.PromGeneralAnterior != null ? Model.PromGeneralAnterior.ToString() : "No existen datos suficientes para obtener un promedio general";
                    }
                    <div class="panel-header">
                        <div class="col-sm-6 col-md-3 padder-v b-r b-light">
                            <span class="fa-stack fa-2x pull-left m-r-sm">
                                <i class="fa fa-circle fa-stack-2x text-success"></i>
                                <i class="fa fa-info-circle fa-stack-1x text-white"></i>
                            </span>
                            <a class="clear" href="#">
                                <span class="h3 block m-t-xs"><strong>@promGene</strong></span>
                                <small class="text-muted text-uc">Promedio General</small>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3 padder-v b-r b-light lt">
                            <span class="fa-stack fa-2x pull-left m-r-sm">
                                <i class="fa fa-circle fa-stack-2x text-warning"></i>
                                <i class="fa fa-rotate-left fa-stack-1x text-white"></i>
                            </span>
                            <a class="clear" href="#">
                                <span class="h3 block m-t-xs">
                                    <strong id="bugs">@promGeneAnt</strong>
                                </span>
                                <small class="text-muted text-uc">Promedio General Anterior</small>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3 padder-v b-r b-light">
                            <span class="fa-stack fa-2x pull-left m-r-sm">
                                <i class="fa fa-circle fa-stack-2x text-info"></i>
                                <i class="fa fa-male fa-stack-1x text-white"></i>
                            </span>
                            <a class="clear" href="#">
                                <span class="h3 block m-t-xs">
                                    <strong id="bugs">@Model.CantEvaluadores</strong>
                                </span>
                                <small class="text-muted text-uc">Cantidad de Evaluadores</small>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3 padder-v b-r b-light lt">
                            <span class="fa-stack fa-2x pull-left m-r-sm">
                                <i class="fa fa-circle fa-stack-2x text-success"></i>
                                <i class="fa fa-copy fa-stack-1x text-white"></i>
                            </span>
                            <a class="clear" href="#">
                                <span class="h3 block m-t-xs">
                                    <strong id="bugs">@Model.CantEncuestasResueltas</strong>
                                </span>
                                <small class="text-muted text-uc">Cantidad de Encuestas Resueltas</small>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">

                        @*<p><b>Promedio General</b><b style="padding-left:105px;"> : </b>@promGene</p>
                            <p><b>Promedio General Anterior</b><b style="padding-left: 48px;"> : </b>@promGeneAnt</p>
                            <p><b>Cantidad de Evaluadores</b><b style="padding-left: 64px;"> : </b>@Model.CantEvaluadores</p>
                            <p><b>Cantidad de Encuestas Resueltas</b><b style="padding-left: 14px;"> : </b>@Model.CantEncuestasResueltas</p>*@

                        @{var subseccion1 = "sub1enc" + Model.IdEncuesta; }

                        <div class="panel-group m-b" id="accordion1">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#@subseccion1"> Promedios x Persona</a>
                                </div>
                                <div id="@subseccion1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        @{ List<PersonaDTO> personasSort = Model.listaReportePersonas.OrderByDescending(x => x.Promedio).ToList();
                                         double numper = Convert.ToDouble(Model.listaReportePersonas.Count);
                                         int cols = (int)numper > 2 ? 3 : (int)numper;
                                         int filas = (int)Math.Ceiling(numper / 3);
                                         int nele = 0;}
                                        @for (int i = 0; i < cols; i++)
                                        {
                                            <div class="col-sm-4">
                                                <ul class="list-group alt">
                                                    @for (int j = 0; j < filas; j++)
                                                    {
                                                        <li class="list-group-item">
                                                            <div class="media">
                                                                <span class="pull-right thumb-sm">
                                                                    @{if (personasSort[nele].RutaImagen != null)
                                                                    {<img src=@personasSort[nele].RutaImagen class="img-full">}
                                                                    else
                                                                    {<img src="~/Content/themes/admin/images/avatar_default.jpg" class="img-full" /> }
                                                                    }
                                                                </span>
                                                                <div class="media-body" style="text-align:center;">
                                                                    <div>
                                                                        @personasSort[nele].Nombre
                                                                    </div>
                                                                    <div>
                                                                        @if (nele < 3)
                                                                        {
                                                                            <span class="badge bg-success text-muted">@decimal.Round(personasSort[nele].Promedio, 2).ToString(CultureInfo.InvariantCulture)</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            if ((int)numper - 4 < nele)
                                                                            {<span class="badge bg-danger text-muted">@decimal.Round(personasSort[nele].Promedio, 2).ToString(CultureInfo.InvariantCulture)</span>}
                                                                            else
                                                                            {<span class="badge bg-info text-muted">@decimal.Round(personasSort[nele].Promedio, 2).ToString(CultureInfo.InvariantCulture)</span>}
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                                        nele++;
                                                                        if (nele == numper)
                                                                        {
                                                                            nele = 0;
                                                                            break;
                                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        }
                                    </div>
                                    <div class="footer" style="text-align:right; vertical-align:central;">
                                        <a class="btn btn-default" href="@Url.Action("Pdf")"><i class="fa fa-print"></i>&nbsp; Imprimir PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @{var subseccion2 = "sub2enc" + Model.IdEncuesta; }
                        <div class="panel-group m-b" id="accordion2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#@subseccion2"> Cuadro x Pregunta</a>
                                </div>
                                <div id="@subseccion2" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        @{int npre = Model.listaReportePreguntas.Count;}
                                        @{int nper = Model.listaReportePersonas.Count;}
                                        <table class="overflow-y">
                                            <thead>
                                                <tr>
                                                    <th>Nombres X Preguntas</th>
                                                    @for (int j = 0; j < nper; j++)
                                                    {
                                                        <th>
                                                            @Model.listaReportePersonas[j].Nombre
                                                        </th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int pre = 0; pre < npre; pre++)
                                                {
                                                    <tr>
                                                        <th>@Model.listaReportePreguntas[pre].Texto</th>
                                                        @for (int per = 0; per < nper; per++)
                                                        {
                                                            if (Model.matrizReporteDetalle[pre, per].ValorItem != -1)
                                                            {
                                                                <td style="text-align:center;">@decimal.Round(Model.matrizReporteDetalle[pre, per].ValorItem, 2).ToString(CultureInfo.InvariantCulture)</td>
                                                            }
                                                            else
                                                            {
                                                                <td style="text-align:center;">NA</td>}
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="col-sm-12" style="text-align:right;">
                            <a class="btn btn-default" href="@Url.Action("ExportExcelDataReporte")"><i class="fa fa-table"></i>&nbsp; Imprimir Excel</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
